<#@ template language="C#" debug="True" hostSpecific="True"                             #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"          #>
<#@ output extension=".generated.cs"                                                    #>
<#@ include file="$(LinqToDBT4DB2TemplatesPath)LinqToDB.DB2.ttinclude"      once="true" #>
<#@ include file="$(LinqToDBT4TemplatesPath)PluralizationService.ttinclude" once="true" #>
<#@ include file="ConnectionStrings.ttinclude"                              once="true" #>
<#
	NamespaceName        = "DB2";
	GenerateSchemaAsType = true;

	LoadDB2Metadata(GetConnectionString("DB2"));

	GenerateModel();
#>
