<#@ template language="C#" debug="True" hostSpecific="True"                                #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"             #>
<#@ output extension=".generated.cs"                                                       #>
<#@ include file="$(LinqToDBT4SapHanaTemplatesPath)LinqToDB.SapHana.ttinclude" once="true" #>
<#@ include file="$(LinqToDBT4TemplatesPath)PluralizationService.ttinclude"    once="true" #>
<#@ include file="ConnectionStrings.ttinclude"                                 once="true" #>
<#
	NamespaceName        = "SapHana.ODBC";
	GenerateSchemaAsType = true;

	LoadSapHanaMetadata(GetConnectionString("SapHana.Odbc"));

	GenerateModel();
#>
