<#@ template language="C#" debug="True" hostSpecific="True"                              #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"           #>
<#@ output extension=".generated.cs"                                                     #>
<#@ include file="$(LinqToDBT4SQLiteTemplatesPath)LinqToDB.SQLite.ttinclude" once="true" #>
<#@ include file="$(LinqToDBT4TemplatesPath)PluralizationService.ttinclude"  once="true" #>
<#@ include file="ConnectionStrings.ttinclude"                               once="true" #>
<#
	NamespaceName        = "SQLite";
	GenerateSchemaAsType = true;

	LoadSQLiteMetadata($"Data Source={GetDatabasePath("TestData.sqlite")}");

	GenerateModel();
#>
