<#@ template language="C#" debug="True" hostSpecific="True"                              #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"           #>
<#@ output extension=".generated.cs"                                                     #>
<#@ include file="$(LinqToDBT4SybaseTemplatesPath)LinqToDB.Sybase.ttinclude" once="true" #>
<#@ include file="$(LinqToDBT4TemplatesPath)PluralizationService.ttinclude"  once="true" #>
<#@ include file="ConnectionStrings.ttinclude"                               once="true" #>
<#
	NamespaceName        = "Sybase";
	GenerateSchemaAsType = true;

	LoadSybaseMetadata(GetConnectionString("Sybase.Managed"));

	GenerateModel();
#>
