# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
indent_style = tab
indent_size = 4
insert_final_newline = true
end_of_line = crlf

# Code files
[*.{cs,csx,vb,vbx}]
charset = utf-8-bom

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]

# JSON files
[*.json]

# Powershell files
[*.ps1]

# Azure files
[*.{yml,sh,cmd,md}]
indent_style = space

# Azure files
[*.sh]
end_of_line = lf


# Dotnet code style settings:
[*.{cs,vb}]

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field = false:refactoring
dotnet_style_qualification_for_property = false:refactoring
dotnet_style_qualification_for_method = false:refactoring
dotnet_style_qualification_for_event = false:refactoring

# Use language keywords instead of framework type names for type references
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:suggestion

# Suggest more modern language features when available
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion

# CSharp code style settings:
[*.cs]
# Newline settings
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = false
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left

# Spacing options
csharp_space_around_declaration_statements = ignore

# Prefer "var" everywhere
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Prefer method-like constructs to have a block body
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_operators = false:none

# Prefer property-like constructs to have an expression-body
csharp_style_expression_bodied_properties = true:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_accessors = true:warning

# Suggest more modern language features when available
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Blocks are allowed
csharp_prefer_braces = true:silent
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

csharp_prefer_simple_using_statement = false:silent
csharp_style_prefer_switch_expression = true:warning

dotnet_style_prefer_compound_assignment = true:warning

[*.{cs,vb}]
#############
# Analyzers #
#############

# general settings applied to all source files
# Source folder contains additional .editorconfig with overrides
#
# enable all analyzers by default
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/
dotnet_analyzer_diagnostic.severity = error
dotnet_code_quality.api_surface = all
dotnet_code_quality.enable_platform_analyzer_on_pre_net5_target = true

##############################################
# active diagnostics (explicitly configured) #
##############################################

dotnet_diagnostic.CA1825.severity = error # CA1825: Avoid zero-length array allocations
# generates a lot of noise in tests, enabled in source .editorconfig
dotnet_diagnostic.CA2007.severity = none # CA2007: Do not directly await a Task
dotnet_diagnostic.CA2012.severity = error # CA2012: Use ValueTasks correctly
dotnet_diagnostic.CA2016.severity = error # CA2016: Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.CA1018.severity = error # CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA2200.severity = error # CA2200: Rethrow to preserve stack details
dotnet_diagnostic.CA2201.severity = error # CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA3075.severity = error # CA3075: Insecure DTD Processing

#########################################################################################################
# inactive diagnostics (not reviewed yet => disabled to not fail build, basically TODO list for future) #
#########################################################################################################
dotnet_diagnostic.CA1000.severity = none # CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1001.severity = none # CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1010.severity = none # CA1010: Collections should implement generic interface
dotnet_diagnostic.CA1050.severity = none # CA1050: Declare types in namespaces
dotnet_diagnostic.CA1036.severity = none # CA1036: Override methods on comparable types
dotnet_diagnostic.CA1051.severity = none # CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1067.severity = none # CA1067: Override Equals when implementing IEquatable
dotnet_diagnostic.CA1068.severity = none # CA1068: CancellationToken parameters must come last
dotnet_diagnostic.CA1069.severity = none # CA1069: Enums should not have duplicate values
dotnet_diagnostic.CA1200.severity = none # CA1200: Avoid using cref tags with a prefix
dotnet_diagnostic.CA1304.severity = none # CA1304: Specify CultureInfo
dotnet_diagnostic.CA1305.severity = none # CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1309.severity = none # CA1309: Use ordinal StringComparison
dotnet_diagnostic.CA1310.severity = none # CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1507.severity = none # CA1507: Use nameof in place of string
dotnet_diagnostic.CA1707.severity = none # CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1708.severity = none # CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1711.severity = none # CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1715.severity = none # CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1716.severity = none # CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1720.severity = none # CA1720: Identifiers should not contain type names
dotnet_diagnostic.CA1725.severity = none # CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1805.severity = none # CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1806.severity = none # CA1806: Do not ignore method results
dotnet_diagnostic.CA1816.severity = none # CA1816: Call GC.SuppressFinalize correctly
dotnet_diagnostic.CA1822.severity = none # CA1822: Mark members as static
dotnet_diagnostic.CA1826.severity = none # CA1826: Use property instead of Linq Enumerable method
dotnet_diagnostic.CA1827.severity = none # CA1827: Do not use Count/LongCount when Any can be used
dotnet_diagnostic.CA1829.severity = none # CA1829: Use Length/Count property instead of Enumerable.Count method
dotnet_diagnostic.CA1830.severity = none # CA1830: Prefer strongly-typed Append and Insert method overloads on StringBuilder
dotnet_diagnostic.CA1834.severity = none # CA1834: Use StringBuilder.Append(char) for single character strings
dotnet_diagnostic.CA1836.severity = none # CA1836: Prefer IsEmpty over Count when available
dotnet_diagnostic.CA2101.severity = none # CA2101: Specify marshaling for P/Invoke string arguments
dotnet_diagnostic.CA2208.severity = none # CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2211.severity = none # CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2215.severity = none # CA2215: Dispose methods should call base class dispose
dotnet_diagnostic.CA2231.severity = none # CA2231: Overload operator equals on overriding ValueType.Equals
dotnet_diagnostic.CA2249.severity = none # CA2249: Consider using String.Contains instead of String.IndexOf

################
# VS analyzers #
################
# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = warning

# IDE0055: Fix whitespace formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0057: Use range operators (requires .net core 3 or higher)
dotnet_diagnostic.IDE0056.severity = none
dotnet_diagnostic.IDE0057.severity = none

# IDE0060: unused parameters should be removed or have a discard symbol name
dotnet_diagnostic.IDE0060.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = error

# CS8618: Non-nullable field is uninitialized. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = error

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = error
