#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.suo
*.bak
*.cache
*.log
*.cs.ide
*.playlist
NuGet/[nN]u[gG]et.exe
bin/
obj/
_ReSharper*/
TestResults/
linq2db.sln.docstates
**/UserDataProviders.json
/BuiltNuGet
linq2db.sln.ide/graph
linq2db.sln.ide/
!Redist/**
/.vs/*
*.lock.json
/.idea/
/.temp
.vs/
packages/
.vscode/
.build/
**/launchSettings.json
