language: csharp
sudo: required
dist: trusty

branches:
  only:
    - master
    - /version.*/
    - /release.*/
    - /dev.*/

addons:
  postgresql: "9.6"
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g

dotnet: 2.0.0

env:
  global:
    - testFilter="TestCategory != FreeText & TestCategory != Explicit & TestCategory != Ignored & TestCategory != WindowsOnly & TestCategory != ActiveIssue"
    - testRunner=dotnet
    - testTargetFramework=netcoreapp2.0
    - testConfiguration=Travis
    - builder=dotnet
    - target=Tests

os:  
  - linux
#  - osx
osx_image: xcode7.3

before_install:
  - if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install openssl; ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/; ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/; fi
  - chmod +x build.sh

before_script:
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then sudo service postgresql start; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PG_DATA=$(brew --prefix)/var/postgres; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pg_ctl -w start -l postgres.log --pgdata ${PG_DATA}; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then createuser -s postgres; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then psql -c 'create database testdata;' -U postgres; fi  


script:
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then mysql -e 'CREATE DATABASE TestData DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;'; fi
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then psql -c 'create database testdata;' -U postgres; fi
  - ./build.sh 
