language: csharp
sudo: required
dist: trusty

addons:
  postgresql: "9.6"
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g

dotnet: 2.0.0

env:
  global:
    #- testFilter="TestCategory != FreeText & TestCategory != Explicit & TestCategory != WindowsOnly"
    - testFilter=TestCategory=Create
    - testRunner=dotnet
    - testTargetFramework=netcoreapp1.0
    - configuration=Travis
    - testConfiguration=Travis
    - builder=dotnet


mono:  
  - latest
os:  
  - linux
#  - osx
osx_image: xcode7.3

before_install:
  - if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install openssl; ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/; ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/; fi
  - chmod +x build.sh
  - chmod +x travisbuild.sh

install:
  - nuget install NUnit.Runners -Version 3.7.0 -OutputDirectory testrunner


before_script:
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then sudo service postgresql start; fi
#  - nuget restore linq2db.Mono.sln
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PG_DATA=$(brew --prefix)/var/postgres; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pg_ctl -w start -l postgres.log --pgdata ${PG_DATA}; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then createuser -s postgres; fi


script:
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then mysql -e 'CREATE DATABASE TestData;'; fi
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then psql -c 'create database testdata;' -U postgres; fi
#  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then mv Tests/Linq/TravisDataProviders.txt Tests/Linq/UserDataProviders.txt; fi
#  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then mv Tests/Linq/TravisDataProviders.Core.txt Tests/Linq/UserDataProviders.Core.txt; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then mv Tests/Linq/TravisDataProviders.Osx.txt Tests/Linq/UserDataProviders.txt; fi
#  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then mv Tests/Linq/TravisDataProviders.Osx.Core.txt Tests/Linq/UserDataProviders.Core.txt; fi
#  - ./build.sh --verbosity diagnostic
  - ./build.sh 
#- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then psql -c 'create database testdata;' -U postgres; fi  
#  - xbuild /p:Configuration=ReleaseMono linq2db.Mono.sln
#  - mono ./testrunner/NUnit.ConsoleRunner.3.5.0/tools/nunit3-console.exe Tests/Linq/bin/ReleaseMono/linq2db.Tests.dll --where "cat != WindowsOnly"

#before_install:
#  - sudo apt-get install nunit3-console

