image:
- Visual Studio 2017

configuration: Release

environment:
  packageVersion: 2.0.0
  access_token:
    secure: IlfmHXRdUK6v8dX/WqieXQ==
  regularProviders: AppveyorDataProviders.txt
  coreProviders: AppveyorDataProviders.Core.txt
  testfilter: TestCategory != FreeText
  testRunner: dotnet
  testLogger: C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll
  matrix:
    - buildConfiguration: net45
    - buildConfiguration: netcoreapp1.0
    - buildConfiguration: docfx


version: $(packageVersion).{build}

cache:
- packages -> **\packages.config
- tools

services:
- mssql2014
- mysql
- postgresql95

init:
- cmd: git config --global core.autocrlf true
- ps: $env:buildVersion = "$env:packageVersion.$env:appveyor_build_number"

test: off

before_build:
- ps: |
    $startPath = "$($env:appveyor_build_folder)\Data"
    $sqlInstance = "(local)\SQL2014"
    $dbName = "TestData"

    # create database
    sqlcmd -S "$sqlInstance" -Q "Use [master]; CREATE DATABASE [$dbName]"

    #$mdfFile = join-path $startPath "northwnd.mdf"
    #$ldfFile = join-path $startPath "northwnd.ldf"
    #Write-Host "mdfFile : $mdfFile "
    #Write-Host "ldfFile : $ldfFile "
    #sqlcmd -S "$sqlInstance" -Q "Use [master]; CREATE DATABASE [Northwind] ON (FILENAME = '$mdfFile'),(FILENAME = '$ldfFile') for ATTACH"

    # MySql 
    $env:MYSQL_PWD="Password12!"
    $cmd = '"C:\Program Files\MySql\MySQL Server 5.7\bin\mysql" -e "create database $dbName;" --user=root'
    iex "& $cmd"

    # PgSql
    $env:PGUSER="postgres"
    $env:PGPASSWORD="Password12!"
    $cmd = '"C:\Program Files\PostgreSQL\9.5\bin\createdb" $dbName'
    iex "& $cmd"
- ps: Update-AppveyorBuild -Version $env:buildVersion
- cmd: 7z e Data\northwind.sql.zip
- cmd: sqlcmd -U sa -P Password12! -S localhost\SQL2014 -i "northwind.sql" > nul

nuget:
  account_feed: false
  project_feed: false

build_script:
- ps: .\build.ps1

artifacts:
- path: \**\linq2db*.nupkg

deploy:
- provider: NuGet
  server: https://www.myget.org/F/linq2db/api/v2
  api_key:
    secure: LDw0jeA1Yo3R4/TKv2kmlgJR8dTT6Wun2MONq3uDvtVQJG4LOU9LjvVTAc7IgRfm
  skip_symbols: true
  on:
    branch: master

- provider: NuGet
  api_key:
    secure: oTYw2IwTnz4qMD8c/MR/6mo+Nx3wa5Pp8MYfsKBCKCVuU6QCHlj+6QMXpnQses8G
  on:
    branch: release

- provider: NuGet
  server: https://www.myget.org/F/linq2db/api/v2
  api_key:
    secure: LDw0jeA1Yo3R4/TKv2kmlgJR8dTT6Wun2MONq3uDvtVQJG4LOU9LjvVTAc7IgRfm
  skip_symbols: true
  on:
    branch: rc_version2

skip_commits:
  message: /ci skip/      # Regex for matching commit message