configuration: Release

environment:
  packageVersion: 1.0.8.0

version: $(packageVersion)


cache:
- packages -> **\packages.config
- '%USERPROFILE%\.nuget\packages -> **\project.json'


assembly_info:
  patch: false
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

services:
- mssql2012sp1
- mysql
- postgresql

before_build:
- cmd: dotnet restore 

build:
  project: linq2db.core.sln
  verbosity: minimal

after_build:
- ps: |
    if ($env:APPVEYOR_REPO_BRANCH -eq "release") 
    {
       dotnet pack --no-build Source/project.json -c=Release
    }
    else
    {
       dotnet pack --no-build Source/project.json --version-suffix="rc$env:APPVEYOR_BUILD_NUMBER" -c=Release
    }

before_test:
- ps: |
      cd $env:appveyor_build_folder
      . ".\Av-InitDatabases.ps1"


test_script:
- ps: |
    dotnet test tests\linq -c Release -f netcoreapp1.0 
    $test1res = $LASTEXITCODE 
    # upload results to AppVeyor
    $wc = New-Object 'System.Net.WebClient'
    $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit3/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestResult.xml))
    Push-AppveyorArtifact (Resolve-Path .\TestResult.xml)
    # try nunit3 
    # nunit3-console.exe (Resolve-Path Tests\Linq\bin\Release\net40\win7-x64\linq2db.Tests.dll) --x86
    # nunit3-console.exe (Resolve-Path Tests\Linq\bin\Release\net45\win7-x64\linq2db.Tests.dll) --x86
    IF ($test1res -ne 0) { exit -1 }


artifacts:
- path: Source\**\*.nupkg

deploy:
- provider: NuGet
  server: https://www.myget.org/F/linq2db/api/v2
  api_key:
    secure: LDw0jeA1Yo3R4/TKv2kmlgJR8dTT6Wun2MONq3uDvtVQJG4LOU9LjvVTAc7IgRfm
  skip_symbols: true
