configuration: Release

environment:
  packageVersion: 1.0.8.0

version: $(packageVersion)

cache:
- packages -> **\packages.config

services:
- mssql2012sp1
- mysql
- postgresql

init:
- cmd: git config --global core.autocrlf true
- ps: $env:buildVersion = "$env:packageVersion.$env:appveyor_build_number"
- ps: |
    if ($env:APPVEYOR_REPO_BRANCH -eq "release") 
    {
        $env:nugetVersion = "$env:packageVersion"
    }
    else
    {
        $env:nugetVersion = "$env:packageVersion-rc$env:appveyor_build_number"
    }
- ps: Update-AppveyorBuild -Version $env:buildVersion

assembly_info:
  patch: false
  file: '**\AssemblyInfo.*'
  assembly_version: '$(buildVersion)'
  assembly_file_version: '$(buildVersion)'
  assembly_informational_version: '$(nugetVersion)'

nuget:
  account_feed: false
  project_feed: false

before_build:
- cmd: nuget restore linq2db.4.5.sln

build:
  project: linq2db.4.5.sln
  publish_nuget: false
  verbosity: minimal

after_build:
- cmd: cd Source
- cmd: Compile.bat
- cmd: cd ..
- ps: nuget pack Nuget\linq2db.nuspec -version "$env:nugetVersion" 

artifacts:
- path: \**\linq2db*.nupkg

test: 
  assemblies:
    - \Tests\**\linq2db.Tests.dll

before_test:
- ps: |
      Push-Location -Path Tests\Linq\bin\$env:CONFIGURATION
      cd $env:appveyor_build_folder
      . ".\Av-InitDatabases.ps1"

after_test:
- ps: Pop-Location

deploy:
- provider: NuGet
  server: https://www.myget.org/F/linq2db/api/v2
  api_key:
    secure: LDw0jeA1Yo3R4/TKv2kmlgJR8dTT6Wun2MONq3uDvtVQJG4LOU9LjvVTAc7IgRfm
  skip_symbols: true
