<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--
		this file is added only as workaround to azure devops issue
		https://developercommunity.visualstudio.com/content/problem/983843/dotnet-build-task-does-not-use-nugetorg-for-one-pr.html
		and could be removed when issue fixed
		-->
		<add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>
