<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6" #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"               #>
<#@ output extension=".generated.cs"                                                         #>
<#@ include file="$(LinqToDBT4TemplatesPath)T4Model.ttinclude"                   once="true" #>
<#@ include file="$(LinqToDBT4TemplatesPath)EditableObject.ttinclude"            once="true" #>
<#
	EnableNullableReferenceTypes = true;

	Model.Namespaces[0].Name = "Tests.T4.Model";

	Model.Usings.Add("System.ComponentModel");
	Model.Usings.Add("System.Collections.Generic");
	Model.Usings.Add("System.Xml.Serialization");
	Model.Usings.Add("Tests.T4.Model");
	Model.Usings.Add("System.ComponentModel");

	Model.Namespaces[0].Types.Add(new Class
	{
		Name    = "TestClass3",
		Members =
		{
			new EditableProperty("long",   "EditableLong1")   { InitValue = "12345" },
			new EditableProperty("int",    "EditableInt1")    { },
			new EditableProperty("int",    "EditableInt3")    { },
			new EditableProperty("double", "EditableDouble1") { IsDirtyText = "Math.Abs({0} - {1}) <= 16 * Double.Epsilon * Math.Max(Math.Abs({0}), Math.Abs({1}))" },
			new Field(new ModelType(typeof(List<>), true,  ModelType.Create<string>(true)),  "Field4"),
			new Field(new ModelType(typeof(List<>), true,  ModelType.Create<string>(false)), "Field5"),
			new Field(new ModelType(typeof(List<>), false, ModelType.Create<string>(true)),  "Field6") { InitValue = $"new {new ModelType(typeof(List<>), false, ModelType.Create<string>(true)).ToTypeName()}()" },
			new Field(new ModelType(typeof(List<>), false, ModelType.Create<string>(false)), "Field7") { InitValue = "new List<string>()" }
		}
	});

	GenerateModel();
#>
