<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6" #>
<#@ output extension=".generated.cs"                                                         #>
<#@ assembly name="$(ArtifactsPath)\bin\Tests\Debug\net462\System.Data.SQLite.dll"           #>
<#@ include file="..\Shared.ttinclude"                                          once="true"  #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.SQLite.ttinclude" once="true"  #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\Equatable.ttinclude"       once="true"  #>
<#

	EnableNullableReferenceTypes  = true;
	DataContextName               = "EquatableDB";
	NamespaceName                 = "EquatableDataContext";
	GenerateAssociationExtensions = true;

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	LoadSQLiteMetadata(solutionsPath + @"\Data\", "TestData.sqlite");

	foreach (var t in Tables.Values)
	{
		foreach (var fk in t.ForeignKeys.Values)
			if (fk.MemberName.Length == 0 || char.IsDigit(fk.MemberName[0]))
				fk.MemberName = "FK_" + fk.MemberName;

		t.IsEquatable = true;
	}

	DefaultEquatable = false;
	EqualityComparerFieldName = "equalityComparer";

	EqualityPropertiesFilter = (cl, prop) =>
	{
		var filter = EqualityPropertiesFilterDefault(cl, prop);

		if (cl.Name == "FKTestPosition")
		{
			return filter && prop.Name != "Company";
		}

		return filter;
	};

	GenerateModel();
#>
