<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"   #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"                 #>
<#@ output extension=".generated.cs"                                                           #>
<#@ include file="..\Shared.ttinclude"                                             once="true" #>
<#@ include file="$(LinqToDBT4SQLiteTemplatesPath)LinqToDB.SQLite.ttinclude"       once="true" #>
<#@ include file="$(LinqToDBT4TemplatesPath)Equatable.ttinclude"                   once="true" #>
<#
	EnableNullableReferenceTypes  = true;
	DataContextName               = "EquatableDB";
	NamespaceName                 = "EquatableDataContext";
	GenerateAssociationExtensions = true;

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");

	LoadSQLiteMetadata(solutionsPath + @"\Data\", "TestData.sqlite");

	foreach (var t in Tables.Values)
	{
		foreach (var fk in t.ForeignKeys.Values)
			if (fk.MemberName.Length == 0 || char.IsDigit(fk.MemberName[0]))
				fk.MemberName = "FK_" + fk.MemberName;

		t.IsEquatable = true;
	}

	DefaultEquatable = false;
	EqualityComparerFieldName = "equalityComparer";

	EqualityPropertiesFilter = (cl, prop) =>
	{
		var filter = EqualityPropertiesFilterDefault(cl, prop);

		if (cl.Name == "FKTestPosition")
		{
			return filter && prop.Name != "Company";
		}

		return filter;
	};

	GenerateModel();
#>
