[*.{cs,vb}]
# generate messages mostly for Test*<T> methods, which we don't want to change
dotnet_diagnostic.ide0001.severity = none # IDE0001: Simplify name
# casts used a lot in test linq expressions
dotnet_diagnostic.ide0004.severity = none # IDE0004: Remove unnecessary cast
dotnet_diagnostic.CA1852.severity = none # CA1852: Type can be sealed

dotnet_diagnostic.CA1852.severity = none # CA1852: Seal internal types

# ReSharper properties
resharper_space_before_new_parentheses = true

dotnet_diagnostic.CA1044.severity = none # CA1044: Properties should not be write only
dotnet_diagnostic.CA1055.severity = none # CA1045: Url in name - url in type...
dotnet_diagnostic.CA1058.severity = none # CA1058: Types should not extend certain base types
dotnet_diagnostic.CA1307.severity = none # CA1307: Specify StringComparison for clarity
dotnet_diagnostic.CA1515.severity = none # CA1515: Mark type internal
dotnet_diagnostic.CA1812.severity = none # CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1814.severity = none # CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1849.severity = none # CA1849: Call async methods when in an async method
dotnet_diagnostic.CA1851.severity = none # CA1851: Possible multiple enumerations of IEnumerable collection
dotnet_diagnostic.CA1858.severity = none # CA1858: Use StartsWith instead of IndexOf
dotnet_diagnostic.CA1860.severity = none # CA1860: Avoid using 'Enumerable.Any()' extension method
dotnet_diagnostic.CA1861.severity = none # CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1862.severity = none # CA1862: prefer the string comparison method with StringComparison argument
dotnet_diagnostic.CA2237.severity = none # CA2237: Mark ISerializable types with SerializableAttribute

[*.vb]
dotnet_diagnostic.CA2224.severity = none # CA2224: Override Equals on overloading operator equals // https://github.com/dotnet/roslyn-analyzers/issues/6778
