{
	"NET472": {
		"BasedOn": "MyConnectionStrings",
		"Providers": [
			// to enable test provider uncomment it and configure connection string if need

			// SQLite-based test configurations
			"SQLite.Classic",
			"SQLite.MS"
			//"SQLite.Classic.MPM",
			//"SQLite.Classic.MPU",
			//"Northwind.SQLite",
			//"Northwind.SQLite.MS",

			// no-db test configuration
			//"TestNoopProvider",

			// SQL CE
			//"SqlCe",

			// Firebird 2.5-4
			//"Firebird",
			//"Firebird3",
			//"Firebird4",

			// Various versions of SQL Server
			//"SqlServer",
			//"Northwind",
			//"SqlServer.2005",
			//"SqlServer.2005.1",
			//"SqlServer.2008",
			//"SqlServer.2008.1",
			//"SqlServer.2012",
			//"SqlServer.2014",
			//"SqlServer.2016",
			//"SqlServer.2017",
			//"SqlServer.2019",
			//"SqlServer.2019.SA",
			//"SqlServer.2019.FEC",
			//"SqlServer.Contained",
			//"SqlAzure",

			// MySQL and MariaDB
			//"MySql",
			//"MySql55"
			//"MySqlConnector",
			//"MariaDB",

			// PostgreSQL
			//"PostgreSQL.9.2",
			//"PostgreSQL.9.3",
			//"PostgreSQL.9.5",
			//"PostgreSQL.10",
			//"PostgreSQL.11",
			//"PostgreSQL.12",
			//"PostgreSQL.13",
			//"PostgreSQL.14",
			//"PostgreSQL",

			// OleDB and ODBC MS Access providers
			//"Access",
			//"Access.Odbc",

			// SAP/Sybase ASE
			//"Sybase.Managed",
			//"Sybase",

			// DB2
			//"DB2",

			// Informix
			//"Informix",
			//"Informix.DB2",

			// Oracle 11 and 12+
			//"Oracle.11.Managed",
			//"Oracle.11.Native",
			//"Oracle.Managed",
			//"Oracle.Native",

			// SAP HANA 2
			//"SapHana.Odbc",
			//"SapHana.Native",
		]
	},

	"CORE31": {
		"BasedOn": "MyConnectionStrings",
		"DefaultConfiguration": "SQLite.MS",
		"Providers": [
			// to enable test provider uncomment it and configure connection string if need

			// SQLite-based test configurations
			"SQLite.Classic",
			"SQLite.MS"
			//"SQLite.Classic.MPM",
			//"SQLite.Classic.MPU",
			//"Northwind.SQLite",
			//"Northwind.SQLite.MS",

			// no-db test configuration
			//"TestNoopProvider",

			// SQL CE
			//"SqlCe",

			// Firebird 2.5-4
			//"Firebird",
			//"Firebird3",
			//"Firebird4",

			// Various versions of SQL Server
			//"SqlServer",
			//"Northwind",
			//"SqlServer.2005",
			//"SqlServer.2005.1",
			//"SqlServer.2008",
			//"SqlServer.2008.1",
			//"SqlServer.2012",
			//"SqlServer.2014",
			//"SqlServer.2016",
			//"SqlServer.2017",
			//"SqlServer.2019",
			//"SqlServer.2019.SA",
			//"SqlServer.2019.FEC",
			//"SqlServer.Contained",
			//"SqlAzure",

			// MySQL and MariaDB
			//"MySql",
			//"MySql55"
			//"MySqlConnector",
			//"MariaDB",

			// PostgreSQL
			//"PostgreSQL.9.2",
			//"PostgreSQL.9.3",
			//"PostgreSQL.9.5",
			//"PostgreSQL.10",
			//"PostgreSQL.11",
			//"PostgreSQL.12",
			//"PostgreSQL.13",
			//"PostgreSQL.14",
			//"PostgreSQL",

			// OleDB and ODBC MS Access providers
			//"Access",
			//"Access.Odbc",

			// SAP/Sybase ASE
			//"Sybase.Managed",

			// DB2
			//"DB2",

			// Informix
			//"Informix.DB2",

			// Oracle 11 and 12+
			//"Oracle.11.Managed",
			//"Oracle.11.Native",
			//"Oracle.Managed",
			//"Oracle.Native",

			// SAP HANA 2
			//"SapHana.Odbc",
			//"SapHana.Native",
		]
	},

	"NET50": {
		"BasedOn": "CORE31",
		"DefaultConfiguration": "SQLite.MS",
		"Providers": [
			// to enable test provider uncomment it and configure connection string if need

			// SQLite-based test configurations
			"SQLite.Classic",
			"SQLite.MS"
			//"SQLite.Classic.MPM",
			//"SQLite.Classic.MPU",
			//"Northwind.SQLite",
			//"Northwind.SQLite.MS",

			// no-db test configuration
			//"TestNoopProvider",

			// SQL CE
			//"SqlCe",

			// Firebird 2.5-4
			//"Firebird",
			//"Firebird3",
			//"Firebird4",

			// Various versions of SQL Server
			//"SqlServer",
			//"Northwind",
			//"SqlServer.2005",
			//"SqlServer.2005.1",
			//"SqlServer.2008",
			//"SqlServer.2008.1",
			//"SqlServer.2012",
			//"SqlServer.2014",
			//"SqlServer.2016",
			//"SqlServer.2017",
			//"SqlServer.2019",
			//"SqlServer.2019.SA",
			//"SqlServer.2019.FEC",
			//"SqlServer.Contained",
			//"SqlAzure",

			// MySQL and MariaDB
			//"MySql",
			//"MySql55"
			//"MySqlConnector",
			//"MariaDB",

			// PostgreSQL
			//"PostgreSQL.9.2",
			//"PostgreSQL.9.3",
			//"PostgreSQL.9.5",
			//"PostgreSQL.10",
			//"PostgreSQL.11",
			//"PostgreSQL.12",
			//"PostgreSQL.13",
			//"PostgreSQL.14",
			//"PostgreSQL",

			// OleDB and ODBC MS Access providers
			//"Access",
			//"Access.Odbc",

			// SAP/Sybase ASE
			//"Sybase.Managed",

			// DB2
			//"DB2",

			// Informix
			//"Informix.DB2",

			// Oracle 11 and 12+
			//"Oracle.11.Managed",
			//"Oracle.11.Native",
			//"Oracle.Managed",
			//"Oracle.Native",

			// SAP HANA 2
			//"SapHana.Odbc",
			//"SapHana.Native",
		]
	},

	"NET60": {
		"BasedOn": "CORE31",
		"DefaultConfiguration": "SQLite.MS",
		"Providers": [
			// to enable test provider uncomment it and configure connection string if need

			// SQLite-based test configurations
			"SQLite.Classic",
			"SQLite.MS"
			//"SQLite.Classic.MPM",
			//"SQLite.Classic.MPU",
			//"Northwind.SQLite",
			//"Northwind.SQLite.MS",

			// no-db test configuration
			//"TestNoopProvider",

			// SQL CE
			//"SqlCe",

			// Firebird 2.5-4
			//"Firebird",
			//"Firebird3",
			//"Firebird4",

			// Various versions of SQL Server
			//"SqlServer",
			//"Northwind",
			//"SqlServer.2005",
			//"SqlServer.2005.1",
			//"SqlServer.2008",
			//"SqlServer.2008.1",
			//"SqlServer.2012",
			//"SqlServer.2014",
			//"SqlServer.2016",
			//"SqlServer.2017",
			//"SqlServer.2019",
			//"SqlServer.2019.SA",
			//"SqlServer.2019.FEC",
			//"SqlServer.Contained",
			//"SqlAzure",

			// MySQL and MariaDB
			//"MySql",
			//"MySql55"
			//"MySqlConnector",
			//"MariaDB",

			// PostgreSQL
			//"PostgreSQL.9.2",
			//"PostgreSQL.9.3",
			//"PostgreSQL.9.5",
			//"PostgreSQL.10",
			//"PostgreSQL.11",
			//"PostgreSQL.12",
			//"PostgreSQL.13",
			//"PostgreSQL.14",
			//"PostgreSQL",

			// OleDB and ODBC MS Access providers
			//"Access",
			//"Access.Odbc",

			// SAP/Sybase ASE
			//"Sybase.Managed",

			// DB2
			//"DB2",

			// Informix
			//"Informix.DB2",

			// Oracle 11 and 12+
			//"Oracle.11.Managed",
			//"Oracle.11.Native",
			//"Oracle.Managed",
			//"Oracle.Native",

			// SAP HANA 2
			//"SapHana.Odbc",
			//"SapHana.Native",
		]
	},

	// for those providers you should specify connection string first to use them
	"MyConnectionStrings": {
		"BasedOn": "CommonConnectionStrings",
		"DefaultConfiguration": "SQLite.Classic",
		// you can specify folder to save test sql baselines
		"BaselinesPath": "",
		"Connections": {
			"SqlServer": {
				"Provider": "SqlServer",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2005": {
				"Provider": "System.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2005.1": {
				"Provider": "System.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2008": {
				"Provider": "System.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2008.1": {
				"Provider": "System.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2012": {
				"Provider": "SqlServer",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2014": {
				"Provider": "System.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2016": {
				"Provider": "System.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2017": {
				"Provider": "Microsoft.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2019": {
				"Provider": "Microsoft.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2019.SA": {
				"Provider": "Microsoft.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.2019.FEC": {
				"Provider": "Microsoft.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlServer.Contained": {
				"Provider": "Microsoft.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SqlAzure": {
				"Provider": "SqlServer.2017",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"DB2": {
				"Provider": "IBM.Data.DB2",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Firebird": {
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Firebird3": {
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Firebird4": {
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Informix": {
				"Provider": "IBM.Data.Informix",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Informix.DB2": {
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"MySql": {
				"Provider": "MySql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"MySql55": {
				"Provider": "MySql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"MariaDB": {
				"Provider": "MySqlConnector",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"MySqlConnector": {
				"Provider": "MySqlConnector",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Oracle.Native": {
				"Provider": "Oracle.DataAccess.Client",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Oracle.Managed": {
				"Provider": "Oracle.ManagedDataAccess.Client",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Oracle.11.Native": {
				"Provider": "Oracle.DataAccess.Client",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Oracle.11.Managed": {
				"Provider": "Oracle.ManagedDataAccess.Client",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.9.2": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.9.3": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.9.5": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.10": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.11": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.12": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.13": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"PostgreSQL.14": {
				"Provider": "Npgsql",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Sybase": {
				"Provider": "Sybase.Data.AseClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Sybase.Managed": {
				"Provider": "AdoNetCore.AseClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SapHana.Native": {
				"Provider": "Sap.Data.Hana",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"SapHana.Odbc": {
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			},
			"Northwind": {
				"Provider": "System.Data.SqlClient",
				"ConnectionString": "TODO_ADD_CONNECTION_STRING"
			}
		}
	},

	// those file-based providers contain proper path to database but could require
	// - Access: proper OLEDB or ODBC provider/driver name
	// - SQL CE: SQL CE runtime installation
	"CommonConnectionStrings": {
		"Connections": {
			"Access": {
				"ConnectionString": "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Database\\TestData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True"
			},
			"Access.Data": {
				"ConnectionString": "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Database\\Data\\TestData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True"
			},
			"Access.Odbc": {
				"ConnectionString": "Driver={Microsoft Access Driver (*.mdb, *.accdb)};Dbq=Database\\TestData.ODBC.mdb;ExtendedAnsiSQL=1"
			},
			"Access.Odbc.Data": {
				"ConnectionString": "Driver={Microsoft Access Driver (*.mdb, *.accdb)};Dbq=Database\\TestData.ODBC.mdb;ExtendedAnsiSQL=1"
			},
			"SqlCe": {
				"ConnectionString": "Data Source=Database\\TestData.sdf"
			},
			"SqlCe.Data": {
				"ConnectionString": "Data Source=Database\\Data\\TestData.sdf"
			},
			"SQLite.Classic": {
				"Provider": "SQLite",
				"ConnectionString": "Data Source=Database\\TestData.sqlite"
			},
			"SQLite.Classic.MPU": {
				"Provider": "SQLite.Classic.MPU",
				"ConnectionString": "Data Source=Database\\TestData.MiniProfiler.Unmapped.sqlite"
			},
			"SQLite.Classic.MPM": {
				"Provider": "SQLite.Classic.MPM",
				"ConnectionString": "Data Source=Database\\TestData.MiniProfiler.Mapped.sqlite"
			},
			"SQLite.Classic.Data": {
				"Provider": "SQLite.Classic",
				"ConnectionString": "Data Source=Database\\Data\\TestData.sqlite"
			},
			"SQLite.MS": {
				"Provider": "SQLite.MS",
				"ConnectionString": "Data Source=Database\\TestData.MS.sqlite"
			},
			"SQLite.MS.Data": {
				"Provider": "Microsoft.Data.Sqlite",
				"ConnectionString": "Data Source=Database\\Data\\TestData.MS.sqlite"
			},
			"Northwind.SQLite": {
				"Provider": "System.Data.SQLite",
				"ConnectionString": "Data Source=Database\\Northwind.sqlite"
			},
			"Northwind.SQLite.MS": {
				"Provider": "SQLite.Microsoft",
				"ConnectionString": "Data Source=Database\\Northwind.MS.sqlite"
			},
			"TestNoopProvider": {
				"Provider": "TestNoopProvider",
				"ConnectionString": "TestNoopProvider"
			}
		}
	}
}
