<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db.Compat" />
	</configSections>

	<linq2db defaultConfiguration="SQLite" />

	<connectionStrings>
		<add name="SQLite"    connectionString="Data Source=:memory:;Version=3;New=True;" providerName="System.Data.SQLite" />
		<add name="SqlClient" connectionString="Data Source=remote_server;Initial Catalog=OtherDatabase;User Id=user;Password=pass;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
