<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db"/>
	</configSections>
	<linq2db defaultConfiguration="Access">
		<dataProviders>
			<add type="LinqToDB.DataProvider.SqlServer,  linq2db.SqlServer" name="SqlServer" />
		</dataProviders>
	</linq2db>

	<connectionStrings>
		<add name="TestData"  connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="SqlServer"/>
		<add name="Northwind" connectionString="Data Source=.;Database=Northwind;Integrated Security=SSPI"                       providerName="SqlServer" />
	</connectionStrings>
</configuration>
