<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestData"  connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="SqlServer"/>
		<add name="Northwind" connectionString="Data Source=.;Database=Northwind;Integrated Security=SSPI"                       providerName="SqlServer" />
	</connectionStrings>
</configuration>
