<#@ template language="C#" debug="True" hostSpecific="True"       #>
<#@ output extension=".generated.cs"                              #>
<#@ include file="..\..\Templates\LinqToDB.DB2.ttinclude"         #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude" #>
<#@ assembly name="I:\linq2db\Redist\IBM\IBM.Data.DB2.dll"        #>
<#@ assembly name="I:\linq2db\Source\bin\Debug.4.5\linq2db.dll"   #>
<#
	NamespaceName = "DB2DataContext";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	//GetSchemaOptions.ExcludedSchemas = new[] { "TestUser", "SYSSTAT" };

	LoadDB2Metadata("DBHost", "50000", "TESTDATA", "Administrator", "TestPassword");

	GetProcedure("ADMINISTRATOR.PERSON_SELECTBYKEY").ResultTable = GetTable("ADMINISTRATOR.Person");

	//GetColumn("ADMINISTRATOR.Person", "PersonID").MemberName = "122";
	//GetFK    ("ADMINISTRATOR.Person", "ID1").MemberName = "122";

	GenerateModel();
#>
