<#@ template language="C#" debug="True" hostSpecific="True"              #>
<#@ output extension=".generated.cs"                                     #>
<#@ include file="..\..\Templates\LinqToDB.DB2.ttinclude"                #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"        #>
<#@ assembly name="E:\Projects\Git\linq2db\Redist\IBM\IBM.Data.DB2.dll"  #>
<#@ assembly name="E:\Projects\Git\linq2db\Source\bin\Debug\linq2db.dll" #>
<#
	NamespaceName = "DB2DataContext";

	var conn = new IBM.Data.DB2.DB2Connection("Server=DBHost:50000;Database=TESTDATA;UID=Administrator;PWD=TestPassword;Pooling=false;Connection Lifetime=60;Connection Reset=false;");
	conn.Open();

	//GetSchemaOptions.ExcludedSchemas = new[] { "TestUser", "SYSSTAT" };

	LoadDB2Metadata("DBHost", "50000", "TESTDATA", "Administrator", "TestPassword");

	GetProcedure("ADMINISTRATOR.PERSON_SELECTBYKEY").ResultTable = GetTable("ADMINISTRATOR.Person");

	//GetColumn("ADMINISTRATOR.Person", "ID").MemberName = "122";
	//GetFK    ("ADMINISTRATOR.Person", "ID1").MemberName = "122";

	GenerateModel();
#>
