<#@ template language="C#" debug="True" hostSpecific="True"       #>
<#@ output extension=".generated.cs"                              #>
<#@ include file="..\..\Templates\LinqToDB.Firebird.ttinclude"    #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude" #>
<#@ assembly name="$(SolutionDir)packages\FirebirdSql.Data.FirebirdClient.4.1.0.0\lib\net40-client\FirebirdSql.Data.FirebirdClient.dll" #>
<#@ assembly name="I:\linq2db\Source\bin\Debug.4.0\linq2db.dll" #>
<#
	NamespaceName = "FirebirdDataContext";

	LoadFirebirdMetadata("DBHost", @"C:\Data\TestData.fdb");
	GenerateModel();
#>
