<#@ template language="C#" debug="True" hostSpecific="True"                  #>
<#@ output extension=".generated.cs"                                         #>
<#@ include file="..\..\Templates\LinqToDB.Informix.ttinclude"               #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"            #>
<#@ assembly name="E:\Projects\Git\linq2db\Redist\IBM\IBM.Data.Informix.dll" #>
<#@ assembly name="E:\Projects\Git\linq2db\Source\bin\Debug\linq2db.dll"     #>
<#
	NamespaceName = "DB2DataContext";

	LoadInformixMetadata("DBHost", "9088", "ol_informix1170", "TestData", "informix", "TestPassword");
	GenerateModel();
#>
