<#@ template language="C#" debug="True" hostSpecific="True"       #>
<#@ output extension=".generated.cs"                              #>
<#@ include file="..\..\Templates\LinqToDB.ttinclude"             #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude" #>
<#@ assembly name="$(SolutionDir)packages\MySql.Data.6.6.4\lib\net40\MySql.Data.dll" #>
<#@ assembly name="E:\Projects\Git\linq2db\Source\bin\Debug\linq2db.dll" #>
<#
	NamespaceName = "MySqlDataContext";

	var path = typeof(MySql.Data.MySqlClient.MySqlConnection).Assembly.GetName().CodeBase;

	LinqToDB.DataProvider.MySql.MySqlFactory.ResolveMySqlPath(
//		@"E:\Projects\Git\T4Models\packages\System.Data.SQLite.x86.1.0.84.0\lib\net40\System.Data.SQLite.dll");
		path);

	var connectionString = @"Server=DBHost;Port=3306;Database=testdata;Uid=root;Pwd=TestPassword;charset=utf8;";
	var dataConnection   = LinqToDB.DataProvider.MySql.MySqlFactory.CreateDataConnection(connectionString);

	LoadMetadata(dataConnection);
	GenerateModel();
#>
