<#@ template language="C#" debug="True" hostSpecific="True"     #>
<#@ output extension=".generated.cs"                            #>
<#@ include file="..\..\Templates\LinqToDB.SqlServer.ttinclude" #>
<#
//	NamespaceName   = "DataContext";
	DataContextName = "NorthwindDB";
//	DatabaseName    = "Northwind";

	var conn = new System.Data.SqlClient.SqlConnection();
	conn.ConnectionString = "Data Source=.;Database=Northwind;Integrated Security=SSPI";
	//conn.ConnectionString = @"Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;";

	LoadMetadata(conn);

	Tables["Order Details"].Columns["OrderID"].MemberName = "ID";

	GenerateModel();
#>
