<#@ template language="C#" debug="True" hostSpecific="True"        #>
<#@ output extension=".generated.cs"                               #>
<#@ include file="..\..\Templates\LinqToDB.SqlServer.ttinclude"    #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"  #>
<#@ assembly name="E:\Projects\Git\linq2db\DataProviders\SqlServer\bin\Debug\linq2db.dll"           #>
<#@ assembly name="E:\Projects\Git\linq2db\DataProviders\SqlServer\bin\Debug\linq2db.SqlServer.dll" #>
<#
//	NamespaceName   = "DataContext";
//	DataContextName = "NorthwindDB";
	DatabaseName    = null;//"Northwind";
	GenerateDatabaseName = true;
	OneToManyAssociationType = "List<{0}>";

//	BaseEntityClass = "object";

//	GenerateBackReferences = false;
//	GenerateAssociations = true;

	var conn = LinqToDB.DataProvider.SqlServer.CreateDataConnection("Data Source=.;Database=Northwind;Integrated Security=SSPI");

	LoadMetadata(conn);

	Tables["Order Details"].Columns["OrderID"].MemberName = "ID";

	GenerateTypesFromMetadata();

	DataContextName   = null;
	DataContextObject = null;

	DatabaseName = null;//"TestData";

	conn = LinqToDB.DataProvider.SqlServer.CreateDataConnection(@"Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;");

	LoadMetadata(conn);

	GenerateModel();
#>
