<#@ template language="C#" debug="True" hostSpecific="True"     #>
<#@ output extension=".generated.cs"                            #>
<#@ include file="..\..\Templates\LinqToDB.SqlServer.ttinclude" #>
<#
	Model.Namespace.Name = "Northwind";

	LoadMetadata();

	GenerateModel();
#>
