<#@ template language="C#" debug="True" hostSpecific="True"       #>
<#@ output extension=".generated.cs"                              #>
<#@ include file="..\..\Templates\LinqToDB.Oracle.ttinclude"      #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude" #>
<#@ assembly name="$(SolutionDir)packages\odp.net.x86.112.3.20\lib\net40\Oracle.DataAccess.dll" #>
<#@ assembly name="I:\linq2db\Source\bin\Debug.4.5\linq2db.dll" #>
<#
	NamespaceName = "OracleDataContext";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;

//	GetSchemaOptions.IncludedSchemas = new[] { "TestUser", "SYS" };

	LoadOracleMetadata("DBHost", "1521", "TestData", "TestUser", "TestPassword");

//	foreach (var t in Tables.Values)
//		if (t.IsView)
//		{
//			t.TypeName                += "_VIEW";
//			t.DataContextPropertyName += "_VIEW";
//		}

	GenerateModel();
#>
