<#@ template language="C#" debug="True" hostSpecific="True"       #>
<#@ output extension=".generated.cs"                              #>
<#@ include file="..\..\Templates\LinqToDB.ttinclude"             #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude" #>
<#@ assembly name="$(SolutionDir)packages\odp.net.x86.112.3.20\lib\net40\Oracle.DataAccess.dll" #>
<#@ assembly name="E:\Projects\Git\linq2db\Source\bin\Debug\linq2db.dll" #>
<#
	NamespaceName = "OracleDataContext";

	LinqToDB.DataProvider.Oracle.OracleFactory.ResolveOracle(typeof(Oracle.DataAccess.Client.OracleConnection).Assembly);

	var connectionString = @"Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TestData)));User Id=SYSMAN;Password=TestPassword;";
	var dataConnection   = LinqToDB.DataProvider.Oracle.OracleFactory.CreateDataConnection(connectionString);

	LoadMetadata(dataConnection);

	foreach (var t in Tables.Values)
		if (t.IsView)
		{
			t.TypeName                += "_VIEW";
			t.DataContextPropertyName += "_VIEW";
		}

	GenerateModel();
#>
