<#@ template language="C#" debug="True" hostSpecific="True"                         #>
<#@ output extension=".generated.cs"                                                #>
<#@ include file="..\..\Templates\LinqToDB.SapHana.ttinclude"                       #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"                   #>
<#@ assembly name="$(SolutionDir)\Redist\SAPHana\Sap.Data.Hana.v4.5.dll"            #>
<#@ assembly name="$(SolutionDir)\packages\linq2db.1.7.5\lib\net40\linq2db.dll"     #>
<#
	NamespaceName = "SapHanaDataContext"; 

	GetSchemaOptions.IncludedSchemas = new[] { "TEST" }; 


	LoadSapHanaMetadata("Server=DBHost;Current Schema=TEST;UserID=TEST;Password=TEST12345;");

	GenerateModel();
#>
