<#@ template language="C#" debug="True" hostSpecific="True"                       #>
<#@ output extension=".generated.cs"                                              #>
<#@ include file="..\..\Templates\LinqToDB.SQLite.ttinclude"                      #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"                 #>
<#@ assembly name="$(SolutionDir)Tests\LinqToDB\bin\Debug\System.Data.SQLite.dll" #>
<#@ assembly name="$(SolutionDir)\packages\linq2db.1.7.5\lib\net40\linq2db.dll"   #>
<#
	NamespaceName = "SQLiteDataContext";

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	LoadSQLiteMetadata(solutionsPath + @"\Data\", "TestData.sqlite");

	foreach (var t in Tables.Values)
		foreach (var fk in t.ForeignKeys.Values)
			if (fk.MemberName.Length == 0 || char.IsDigit(fk.MemberName[0]))
				fk.MemberName = "FK_" + fk.MemberName;

	GenerateModel();
#>
