<#@ template language="C#" debug="True" hostSpecific="True"       #>
<#@ output extension=".generated.cs"                              #>
<#@ include file="..\..\Templates\LinqToDB.ttinclude"             #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude" #>
<#@ assembly name="$(SolutionDir)Redist\Sybase\Sybase.AdoNet2.AseClient.dll" #>
<#@ assembly name="C:\Projects\LinqToDB\Source\bin\Debug\linq2db.dll" #>
<#
	NamespaceName = "SybaseDataContext";

	var path = typeof(Sybase.Data.AseClient.AseConnection).Assembly.GetName().CodeBase;

	LinqToDB.DataProvider.SqlCe.SqlCeFactory.ResolveSqlCePath(path);

	var connectionString = @"Data Source=C:\Projects\LinqToDB\Data\TestData.sdf";
	var dataConnection   = LinqToDB.DataProvider.SqlCe.SqlCeFactory.CreateDataConnection(connectionString);

	LoadMetadata(dataConnection);
	GenerateModel();
#>
