<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">HttpDemo</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="nav flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InteractiveAuto">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> InteractiveAuto
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InteractiveAutoNoPrerender">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> InteractiveAuto NoPrerender
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InteractiveWebAssembly">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> InteractiveWebAssembly
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InteractiveWebAssemblyNoPrerender">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> InteractiveWebAssembly NoPrerender
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InteractiveServer">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> InteractiveServer
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="InteractiveServerNoPrerender">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> InteractiveServer NoPrerender
			</NavLink>
		</div>
	</nav>
</div>

