<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db" requirePermission="false"/>
	</configSections>
	<linq2db defaultConfiguration="Access">
		<dataProviders>
			<add type="LinqToDB.DataProvider.SqlCe,                    linq2db.SqlCe"      />
			<add type="LinqToDB.DataProvider.SQLite.SQLiteFactory,     linq2db"            />
			<add type="LinqToDB.DataProvider.Sybase,                   linq2db.Sybase"     />
			<add type="LinqToDB.DataProvider.Oracle,                   linq2db.Oracle"     />
			<add type="LinqToDB.DataProvider.PostgreSQL,               linq2db.PostgreSQL" />
			<add type="LinqToDB.DataProvider.MySql,                    linq2db.MySql"      />
			<add type="LinqToDB.DataProvider.Firebird.FirebirdFactory, linq2db"            />
			<add type="LinqToDB.DataProvider.DB2.DB2Factory,           linq2db.DB2"        />
			<add type="LinqToDB.DataProvider.Informix,                 linq2db.Informix"   />
		</dataProviders>
	</linq2db>

	<connectionStrings>
		<add name="SqlServer"        connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="SqlServer"/>
		<add name="SqlServer.2012"   connectionString="Server=DBHost\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlServer.2012.1" connectionString="Server=DBHost\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlServer.2008"   connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlServer.2008.1" connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlServer.2005"   connectionString="Server=DBHost\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlServer.2005.1" connectionString="Server=DBHost\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlServer.2000"   connectionString="Server=DBHost2008\SQLSERVER2000;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="Access"           connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Database\TestData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True"/>
		<add name="Access.Data"      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\Data\TestData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True"/>
		<add name="DB2"              connectionString="Server=DBHost:50000;Database=TESTDATA;UID=Administrator;PWD=TestPassword;" providerName="IBM.Data.DB2"/>
		<add name="Firebird"         connectionString="DataSource=DBHost;Database=C:\Data\TestData.fdb;User Id=SYSDBA;Password=masterkey"/>
		<add name="Informix"         connectionString="Host=DBHost;Service=9088;Server=ol_informix1170;Protocol=onsoctcp;Database=TestData;UID=informix;PWD=TestPassword;" providerName="IBM.Data.Informix"/>
		<add name="MySql"            connectionString="Server=DBHost;Port=3306;Database=testdata;Uid=root;Pwd=TestPassword;charset=utf8;" providerName="MySql.Data.MySqlClient"/>
		<add name="Oracle"           connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TestData)));User Id=SYSMAN;Password=TestPassword;" providerName="Oracle.DataAccess.Client"/>
		<add name="PostgreSQL"       connectionString="Server=DBHost;Port=5432;Database=TestData;User Id=postgres;Password=TestPassword;Pooling=true;MinPoolSize=10;MaxPoolSize=100;Protocol=3;" providerName="Npgsql"/>
		<add name="SqlCe"            connectionString="Data Source=Database\TestData.sdf"/>
		<add name="SqlCe.Data"       connectionString="Data Source=..\..\..\..\Data\TestData.sdf"/>
		<add name="SQLite"           connectionString="Data Source=Database\TestData.sqlite"/>
		<add name="SQLite.Data"      connectionString="Data Source=..\..\..\..\Data\TestData.sqlite"/>
		<add name="Sybase"           connectionString="Data Source=DBHost2008;Port=5000;Database=TestData;Uid=sa;Password=TestPassword" providerName="Sybase.Data.AseClient"/>
		<add name="Northwind"        connectionString="Data Source=.;Database=Northwind;Integrated Security=SSPI"  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
