<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db" requirePermission="false" />
	</configSections>
	<linq2db defaultConfiguration="SQLite.Classic" />

	<connectionStrings>
		<add name="SqlServer"        connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="SqlServer" />
		<add name="SqlServer.2012.1" connectionString="Server=DBHost\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
		<add name="SqlServer.2008.1" connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
		<add name="SqlServer.2005.1" connectionString="Server=DBHost\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!--
	<oracle.manageddataaccess.client>
		<version number="*">
			<settings>
				<setting name="TraceLevel" value="7" />
				<setting name="TraceFileLocation" value="C:\Temp" />
			</settings>
		</version>
	</oracle.manageddataaccess.client>
	-->

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="10.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
