<?xml version="1.0"?>
<configuration>
	<!--
	<configSections>
		<section name="LinqToDB" type="LinqToDB.Configuration.LinqToDBSection, LinqToDB.4"/>
	</configSections>
	<LinqToDB>
		<dataProviders>
			<add type="LinqToDB.Data.DataProvider.DB2DataProvider,        LinqToDB.Data.DataProvider.DB2.4"/>
			<add type="LinqToDB.Data.DataProvider.FdpDataProvider,        LinqToDB.Data.DataProvider.Firebird.4"/>
			<add type="LinqToDB.Data.DataProvider.InformixDataProvider,   LinqToDB.Data.DataProvider.Informix.4"/>
			<add type="LinqToDB.Data.DataProvider.MySqlDataProvider,      LinqToDB.Data.DataProvider.MySql.4"/>
			<add type="LinqToDB.Data.DataProvider.OdpDataProvider,        LinqToDB.Data.DataProvider.Oracle.4"/>
			<add type="LinqToDB.Data.DataProvider.PostgreSQLDataProvider, LinqToDB.Data.DataProvider.PostgreSQL.4"/>
			<add type="LinqToDB.Data.DataProvider.SqlCeDataProvider,      LinqToDB.Data.DataProvider.SqlCe.4"/>
			<add type="LinqToDB.Data.DataProvider.SQLiteDataProvider,     LinqToDB.Data.DataProvider.SQLite.4"/>
			<add type="LinqToDB.Data.DataProvider.SybaseDataProvider,     LinqToDB.Data.DataProvider.Sybase.4"/>
		</dataProviders>
	</LinqToDB>
	-->

	<!--
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add
						name="messages"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData="messages.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<system.serviceModel>
		<diagnostics>
			<messageLogging
				logEntireMessage="true"
				logMalformedMessages="true"
				logMessagesAtServiceLevel="true"
				logMessagesAtTransportLevel="false"
				maxMessagesToLog="1000"
				maxSizeOfMessageToLog="100000"/>
		</diagnostics>
	</system.serviceModel>
	-->

	<connectionStrings>
		<add name="Access"      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=BLToolkitData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True"/>
		<add name="Access.Data" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\Data\BLToolkitData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True"/>
		<add name="DB2"         connectionString="Server=DBHost:50000;Database=BLTD;UID=TestUser;PWD=TestPassword;" providerName="IBM.Data.DB2"/>
		<add name="Fdp"         connectionString="DataSource=DBHost;Database=C:\Data\BLToolkitData.fb2;User Id=SYSDBA;Password=masterkey"/>
		<add name="Informix"    connectionString="Host=DBHost;Service=9088;Server=ol_svr_custom;Protocol=onsoctcp;Database=BLToolkitData;UID=informix;PWD=TestPassword;" providerName="IBM.Data.Informix"/>
		<add name="MySql"       connectionString="Server=DBHost;Port=3306;Database=bltoolkitdata;Uid=bltoolkit;Pwd=TestPassword;" providerName="MySql.Data.MySqlClient"/>
		<add name="Oracle"      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=TestUser;Password=TestPassword;" providerName="Oracle.DataAccess.Client"/>
		<add name="PostgreSQL"  connectionString="Server=DBHost;Port=5432;Database=BLToolkitData;User Id=postgres;Password=TestPassword;Pooling=true;MinPoolSize=10;MaxPoolSize=100;" providerName="Npgsql"/>
		<add name="Sql2008"     connectionString="Server=.;Database=BLToolkitData;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="Sql2005"     connectionString="Server=DBHost;Database=BLToolkitData;User Id=TestUser;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlCe"       connectionString="Data Source=BLToolkitData.sdf"/>
		<add name="SqlCe.Data"  connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sdf"/>
		<add name="SQLite"      connectionString="Data Source=.\BLToolkitData.sqlite"/>
		<add name="SQLite.Data" connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sqlite"/>
		<add name="Sybase"      connectionString="Data Source=DBHost;Port=5000;Database=BLToolkitData;Uid=sa" providerName="Sybase.Data.AseClient"/>
		<add name="Northwind"   connectionString="Data Source=.;Database=Northwind;Integrated Security=SSPI"  providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
