{
	"NET472" :
	{
		"BasedOn"              : "User.Providers",
//		"Skip"                 : [ "Access.12", "Oracle.Native.New" ],
		"DefaultConfiguration" : "SQLite.Default",
		"Providers"            :
		[
			"- Access.Odbc",
			"- ClickHouse.*",
			"- Oracle.11.Native",
			"- Oracle.19.Native",
			"DB2"
		]
	},

	"CORE31" :
	{
		"BasedOn"              : "User.Providers",
		"DefaultConfiguration" : "SQLite.Default",
		"Providers"            :
		[
			"- Access",
			"- Access.Odbc"
		]
	},

	"NET60" :
	{
		"BasedOn"              : "User.Providers",
		"DefaultConfiguration" : "SQLite.MS",
		"Providers"            :
		[
			"- Access",
			"- Access.Odbc"
		]
	},

	"NET70" :
	{
		"BasedOn" : "NET60"
	},

	"User.Providers":
	{
		"BasedOn"   : "LocalConnectionStrings",
		"Providers" :
		[
			"---", // remove all providers
			"+++", // add all tested providers
			"- Informix",
			"- *.Devart.*",
			"- Oracle.12.*",
			"- Oracle.18.*",
			"- Oracle.21.*",
			"- Oracle.23.*",
			"- PostgreSQL.10",
			"- PostgreSQL.11",
			"- PostgreSQL.12",
			"- PostgreSQL.13",
			"- PostgreSQL.14",
			"- SapHana.Odbc",
			"- SqlServer.Azure*",
			"- Sybase",

			"SqlServer.Northwind",
			"SqlServer.Northwind.MS"
		],
		"Connections" :
		{
//			"ClickHouse.Octonica" : { "Provider" : "Octonica.ClickHouseClient",       "ConnectionString" : "Host=localhost;Port=9000;Database=testdb1;User=testuser;Password=testuser"                     },
//			"ClickHouse.Client"   : { "Provider" : "ClickHouse.Client",               "ConnectionString" : "Host=localhost;Port=8123;Database=testdb2;Username=testuser;Password=testuser;UseSession=true" },
//			"ClickHouse.MySql"    : { "Provider" : "MySqlConnector",                  "ConnectionString" : "Host=localhost;Port=9004;Database=testdb3;Username=testuser;Password=testuser;Pooling=false;"  },
//			"DB2"                 : { "Provider" : "IBM.Data.DB2",                    "ConnectionString" : "Server=localhost:50000;Database=testdb;UID=db2inst1;PWD=Password12!"          },
//			"Firebird"            : {                                                 "ConnectionString" : "DataSource=localhost;Port=3025;Database=/firebird/data/testdb25.fdb;User Id=sysdba;Password=masterkey;charset=UTF8"                    },
//			"Firebird3"           : {                                                 "ConnectionString" : "DataSource=localhost;Port=3030;Database=/firebird/data/testdb30.fdb;User Id=sysdba;Password=masterkey;charset=UTF8;wirecrypt=disabled" },
//			"Firebird4"           : {                                                 "ConnectionString" : "DataSource=localhost;Port=3040;Database=/firebird/data/testdb40.fdb;User Id=sysdba;Password=masterkey;charset=UTF8;wirecrypt=disabled" },
//			"Informix.DB2"        : {                                                 "ConnectionString" : "Server=localhost:9189;Database=testdatadb2;userid=informix;password=in4mix" },
//			"Informix"            : { "Provider" : "IBM.Data.Informix",               "ConnectionString" : "Host=localhost;Service=9088;Server=ol_informix1210;Protocol=onsoctcp;Database=TestData;UID=informix;PWD=TestPassword;DB_LOCALE=en_us.utf8;CLIENT_LOCALE=en_us.utf8" },
//			"MariaDB"             : { "Provider" : "MySqlConnector",                  "ConnectionString" : "Server=localhost;Port=3316;Database=testdata;Uid=root;Pwd=root;charset=utf8;Allow User Variables=True;SslMode=None;AllowLoadLocalInfile=true;"                       },
//			"MySql55"             : { "Provider" : "MySql.Data",                      "ConnectionString" : "Server=localhost;Port=3305;Database=testdata;Uid=root;Pwd=root;charset=utf8;Allow User Variables=True;SslMode=None;"                                                 },
//			"MySql55Connector"    : { "Provider" : "MySqlConnector",                  "ConnectionString" : "Server=localhost;Port=3305;Database=testdataconnector;Uid=root;Pwd=root;charset=utf8;Allow User Variables=True;SslMode=None;AllowLoadLocalInfile=true;"              },
//			"MySql"               : { "Provider" : "MySql.Data",                      "ConnectionString" : "Server=localhost;Port=3306;Database=testdata;Uid=root;Pwd=root;charset=utf8;Allow User Variables=True;"                                                              },
//			"MySqlConnector"      : { "Provider" : "MySqlConnector",                  "ConnectionString" : "Server=localhost;Port=3306;Database=testdataconnector;Uid=root;Pwd=root;charset=utf8;Allow User Variables=True;AllowLoadLocalInfile=true;"                           },
//			"Oracle.11.Managed"   : { "Provider" : "Oracle.ManagedDataAccess.Client", "ConnectionString" : "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=test;Password=test;"                           },
//			"Oracle.12.Managed"   : { "Provider" : "Oracle.ManagedDataAccess.Client", "ConnectionString" : "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=ORC12)));User Id=system;Password=oracle;"                    },
//			"Oracle.18.Managed"   : { "Provider" : "Oracle.ManagedDataAccess.Client", "ConnectionString" : "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1528))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=system;Password=oracle;"                       },
//			"Oracle.19.Managed"   : { "Provider" : "Oracle.ManagedDataAccess.Client", "ConnectionString" : "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1531))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=system;Password=oracle;"                       },
//			"Oracle.21.Managed"   : { "Provider" : "Oracle.ManagedDataAccess.Client", "ConnectionString" : "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1529))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=system;Password=oracle;"                       },
//			"Oracle.23.Managed"   : { "Provider" : "Oracle.ManagedDataAccess.Client", "ConnectionString" : "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1530))(CONNECT_DATA=(SERVICE_NAME=FREE)));User Id=system;Password=oracle;"                     },
//			"PostgreSQL.11"       : { "Provider" : "Npgsql",                          "ConnectionString" : "Server=dbhost2;Port=5432;Database=TestData;User Id=postgres;Password=TestPassword;Pooling=true;MinPoolSize=10;MaxPoolSize=100;" },
//			"SqlServer"           : { "Provider" : "SqlServer",                       "ConnectionString" : "Server=DBHost2\\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" },
//			"SqlServer.2005"      : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" },
//			"SqlServer.2005.1"    : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" },
//			"SqlServer.2008"      : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" },
//			"SqlServer.2008.1"    : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" },
//			"SqlServer.2012"      : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;MultipleActiveResultSets=True;" },
//			"SqlServer.2012.1"    : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;" },
//			"SqlServer.2014"      : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2014;Database=TestData;User Id=sa;Password=TestPassword;" },
//			"SqlServer.2019"      : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=.;Database=TestData;Trusted_Connection=Yes;TrustServerCertificate=true;"    },
//			"SqlServer.2019.MS"   : { "Provider" : "Microsoft.Data.SqlClient",        "ConnectionString" : "Server=.;Database=TestData;Trusted_Connection=Yes;TrustServerCertificate=true;"    },
//			"SqlServer.Northwind" : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2012;Database=Northwind;User Id=sa;Password=TestPassword" },
//			"Sybase"              : { "Provider" : "Sybase.Data.AseClient",           "ConnectionString" : "Data Source=dbhost2;Port=5000;Database=TestData;Uid=sa;Password=TestPassword;ConnectionTimeout=300;EnableBulkLoad=1;MinPoolSize=100;MaxPoolSize=200;Charset='utf8';" },
//			"Sybase.Managed"      : { "Provider" : "AdoNetCore.AseClient",            "ConnectionString" : "Data Source=dbhost2;Port=5000;Database=TestDataCore;Uid=sa;Password=TestPassword;ConnectionTimeout=300;EnableBulkLoad=1;MinPoolSize=100;MaxPoolSize=200;Charset='utf8';" },
//			"Northwind"           : { "Provider" : "System.Data.SqlClient",           "ConnectionString" : "Server=DBHost2\\SQLSERVER2012;Database=Northwind;User Id=sa;Password=TestPassword" }
		}
	}
}
