<#@ template language="C#" debug="True" hostSpecific="True"        #>
<#@ output extension=".generated.cs"                               #>
<#@ include file="..\..\Templates\T4Model.ttinclude"               #>
<#@ include file="..\..\Templates\EditableObject.ttinclude"        #>
<#
	Model.Namespaces[0].Name = "T4Model.Tests";

	Model.Usings.Add("System.ComponentModel");
	Model.Usings.Add("System.Collections.Generic");
	Model.Usings.Add("System.Xml.Serialization");
	Model.Usings.Add("T4Model.Tests");
	Model.Usings.Add("System.ComponentModel");
	
	Model.Namespaces[0].Types.Add(new Class
	{
		Name    = "TestClass3",
		Members =
		{
			new EditableProperty("long",   "EditableLong1")   { InitValue = "12345" },
			new EditableProperty("int",    "EditableInt1")    { },
			new EditableProperty("int",    "EditableInt3")    { },
			new EditableProperty("double", "EditableDouble1") { IsDirtyText = "Math.Abs({0} - {1}) <= 16 * Double.Epsilon * Math.Max(Math.Abs({0}), Math.Abs({1}))" },
			new Field { Type = "List<string>", Name = "Field4" },
		}
	});

	GenerateModel();
#>
