[*.cs]
# do not disable rules below
dotnet_diagnostic.CA1050.severity = error # CA1050: Declare types in namespaces
dotnet_diagnostic.CA1304.severity = error # CA1304: Specify CultureInfo
dotnet_diagnostic.CA1305.severity = error # CA1305: Specify IFormatProvider
dotnet_code_quality.CA1305.excluded_symbol_names = M:System.Convert.ToString(System.Boolean)|M:System.Convert.ToChar(System.String)|M:System.Convert.ToBoolean(System.String)

# TODO: review it later, looks like it doesn't work for some reason
dotnet_diagnostic.CA1501.severity = none # CA1501: Avoid excessive inheritance
dotnet_diagnostic.CA1502.severity = none # CA1502: Avoid excessive complexity
dotnet_diagnostic.CA1505.severity = none # CA1505: Avoid unmaintainable code
dotnet_diagnostic.CA1506.severity = none # CA1506: Avoid excessive class coupling
dotnet_diagnostic.CA1509.severity = none # CA1509: Invalid entry in code metrics configuration file

# TODO: slow, reenable after cyclomatic complexity handled (CA1501-CA1506)
dotnet_diagnostic.CA1508.severity = none # CA1508: Avoid dead conditional code

# not useful
dotnet_diagnostic.CA1724.severity = none # CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1823.severity = error # CA1823: Avoid unused private fields
dotnet_diagnostic.CA1827.severity = error # CA1827: Do not use Count/LongCount when Any can be used
dotnet_diagnostic.CA1829.severity = error # CA1829: Use Length/Count property instead of Enumerable.Count method
dotnet_diagnostic.CA1849.severity = error # CA1849: Call async methods when in an async method
dotnet_diagnostic.CA2007.severity = error # CA2007: Do not directly await a Task

dotnet_diagnostic.MA0011.severity = error # MA0011: IFormatProvider is missing
MA0011.consider_nullable_types = true
dotnet_diagnostic.MA0032.severity = none # MA0032: Use an overload with a CancellationToken argument
dotnet_diagnostic.MA0040.severity = none # MA0040: Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.MA0042.severity = none # MA0042: Do not use blocking calls in an async method
dotnet_diagnostic.MA0044.severity = error # MA0044: Remove useless ToString call
dotnet_diagnostic.MA0045.severity = none # MA0045: Do not use blocking calls in a sync method (need to make calling method async)
dotnet_diagnostic.MA0047.severity = error # MA0047: Declare types in namespaces
dotnet_diagnostic.MA0048.severity = error # MA0048: File name must match type name
dotnet_diagnostic.MA0075.severity = error # MA0075: Do not use implicit culture-sensitive ToString
MA0075.consider_nullable_types = true
dotnet_diagnostic.MA0076.severity = error # MA0076: Do not use implicit culture-sensitive ToString in interpolated strings
MA0076.consider_nullable_types = true
dotnet_diagnostic.MA0079.severity = error # MA0079: Forward the CancellationToken using .WithCancellation()
dotnet_diagnostic.MA0080.severity = error # MA0080: Use a cancellation token using .WithCancellation()
dotnet_diagnostic.MA0107.severity = error # MA0107: Do not use culture-sensitive object.ToString
dotnet_diagnostic.MA0129.severity = error # MA0129: Await task in using statement

# ReSharper properties
resharper_csharp_allow_far_alignment = true
resharper_int_align_switch_sections = true
