[*.cs]
# do not disable rules below
dotnet_diagnostic.CA1304.severity = error # CA1304: Specify CultureInfo
dotnet_diagnostic.CA1305.severity = error # CA1305: Specify IFormatProvider
dotnet_code_quality.CA1305.excluded_symbol_names = M:System.Convert.ToString(System.Boolean)|M:System.Convert.ToChar(System.String)|M:System.Convert.ToBoolean(System.String)

dotnet_diagnostic.MA0011.severity = error # MA0011: IFormatProvider is missing
MA0011.consider_nullable_types = true
dotnet_diagnostic.MA0044.severity = error # MA0044: Remove useless ToString call
dotnet_diagnostic.MA0075.severity = error # MA0075: Do not use implicit culture-sensitive ToString
MA0075.consider_nullable_types = true
dotnet_diagnostic.MA0076.severity = error # MA0076: Do not use implicit culture-sensitive ToString in interpolated strings
MA0076.consider_nullable_types = true
dotnet_diagnostic.MA0107.severity = error # MA0107: Do not use culture-sensitive object.ToString


dotnet_diagnostic.ca1827.severity = error # CA1827: Do not use Count/LongCount when Any can be used
dotnet_diagnostic.ca2007.severity = none # CA2007: Do not directly await a Task
dotnet_diagnostic.ca1829.severity = error # CA1829: Use Length/Count property instead of Enumerable.Count method

# ReSharper properties
resharper_csharp_allow_far_alignment = true
resharper_int_align_switch_sections = true

