[*.cs]
dotnet_diagnostic.ca1827.severity = error # CA1827: Do not use Count/LongCount when Any can be used
dotnet_diagnostic.ca2007.severity = error # CA2007: Do not directly await a Task
dotnet_diagnostic.ca1829.severity = error # CA1829: Use Length/Count property instead of Enumerable.Count method

# ReSharper properties
resharper_csharp_allow_far_alignment = true
resharper_int_align_switch_sections = true

# workaround https://github.com/SimonCropp/NullabilityInfo/issues/52
dotnet_diagnostic.CA1822.severity = none
