<#@ template language="C#" debug="True" hostSpecific="True"                                       #>
<#@ output extension=".generated.cs"                                                              #>
<#@ include file="..\..\Source\LinqToDB.Templates\LinqToDB.Firebird.ttinclude"                    #>
<#@ include file="Shared.ttinclude"                                                               #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net46\FirebirdSql.Data.FirebirdClient.dll" #>
<#
	NamespaceName = "Firebird3DataContext";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	LoadFirebirdMetadata(GetConnectionString("Firebird3"));
	GenerateModel();
#>
