<#@ template language="C#" debug="True" hostSpecific="True"                      #>
<#@ output extension=".generated.cs"                                             #>
<#@ include file="..\..\Source\LinqToDB.Templates\LinqToDB.PostgreSQL.ttinclude" #>
<#@ include file="Shared.ttinclude"                                              #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net46\Npgsql.dll"         #>
<#
	NamespaceName = "PostreSQLDataContext";
	GenerateConstructors = false;

	LoadPostgreSQLMetadata(GetConnectionString("PostgreSQL"));

	GetTable("testsamename").TypeName = "_testsamename";
	GetTable("testsamename").DataContextPropertyName = "_testsamename";

	GenerateModel();
#>
