<#@ template language="C#" debug="True" hostSpecific="True"                               #>
<#@ output extension=".generated.cs"                                                      #>
<#@ include file="..\..\Source\LinqToDB.Templates\LinqToDB.SqlCe.ttinclude"               #>
<#@ include file="..\..\Source\LinqToDB.Templates\Humanizer.ttinclude"                    #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net46\System.Data.SqlServerCe.dll"  #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net46\linq2db.dll"                  #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net46\Humanizer.dll"                #>
<#
	NamespaceName = "SqlCeDataContext";

	GenerateAssociationExtensions = true;

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	LoadSqlCeMetadata(solutionsPath + @"\Data\", "TestData.sdf");
	GenerateModel();
#>
