<#@ template language="C#" debug="True" hostSpecific="True"                 #>
<#@ output extension=".generated.cs"                                        #>
<#@ include file="Shared.ttinclude"                                         #>
<#@ include file="..\..\Source\LinqToDB.Templates\LinqToDB.SqlCe.ttinclude" #>
<#@ include file="..\..\Source\LinqToDB.Templates\Humanizer.ttinclude"      #>
<#@ assembly name="$(SolutionDir)Tests\T4.Linq\bin\Debug\net46\Humanizer.dll" #>
<#
	NamespaceName = "SqlCeDataContext";

	GenerateAssociationExtensions = true;

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	LoadSqlCeMetadata(solutionsPath + @"\Data\", "TestData.sdf");
	GenerateModel();
#>
