<#@ template language="C#" debug="True" hostSpecific="True"                  #>
<#@ output extension=".generated.cs"                                         #>
<#@ include file="Shared.ttinclude"                                          #>
<#@ include file="..\..\Source\LinqToDB.Templates\LinqToDB.Sybase.ttinclude" #>
<#
	NamespaceName = "SybaseDataContext";

	GenerateSybaseSystemTables = true;

	LoadSybaseMetadata(GetConnectionString("Sybase"));
	GenerateModel();
#>
