<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"   #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"                 #>
<#@ output extension=".generated.cs"                                                           #>
<#@ include file="$(LinqToDBT4AccessTemplatesPath)LinqToDB.Access.Tools.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                             once="true" #>
<#
	NamespaceName     = "AccessDataContext";
	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	var artifactsPath = Host.ResolveAssemblyReference("$(ArtifactsPath)");
	var path = $@"{artifactsPath}\bin\Tests\Debug\net462\Database\";

	LoadAccessMetadata(path, "TestData.mdb");

	GenerateModel();
#>
