<#@ template language="C#" debug="True" hostSpecific="True"                     #>
<#@ output extension=".generated.cs"                                            #>
<#@ include file="..\Shared.ttinclude"                                          #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.Access.ttinclude" #>
<#
	NamespaceName = "AccessODBCDataContext";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;
	DataContextName   = "TestDataDB";
	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	//LoadAccessMetadata(solutionsPath + @"\Data\", "TestData.ODBC.mdb");
	var path = $@"{solutionsPath}\Tests\Linq\bin\Debug\net46\Database\TestData.ODBC.mdb";
	LoadAccessMetadataByProvider($"Driver={{Microsoft Access Driver (*.mdb, *.accdb)}};Dbq={path};ExtendedAnsiSQL=1", "Access.ODBC");

	GenerateModel();
#>
