<#@ template language="C#" debug="True" hostSpecific="True"                                       #>
<#@ output extension=".generated.cs"                                                              #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net472\FirebirdSql.Data.FirebirdClient.dll" #>

<#@ include file="..\Shared.ttinclude"                                            once="true" #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.Firebird.ttinclude" once="true" #>
<#
	NamespaceName = "FirebirdDataContext";

	IncludeDefaultSchema = false;
	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	LoadFirebirdMetadata(GetConnectionString("Firebird"));
	GenerateModel();
#>
