<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"      #>
<#@ output extension=".generated.cs"                                                              #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net472\FirebirdSql.Data.FirebirdClient.dll" #>
<#@ include file="..\Shared.ttinclude"                                            once="true"     #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.Firebird.ttinclude" once="true"     #>
<#
	NamespaceName = "Firebird4DataContext";

	IncludeDefaultSchema = false;
	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	LoadFirebirdMetadata(GetConnectionString("Firebird.4"));
	GenerateModel();
#>
