<#@ template language="C#" debug="True" hostSpecific="True"                                       #>
<#@ output extension=".generated.cs"                                                              #>
<#@ include file="..\Shared.ttinclude"                                                            #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.Firebird.ttinclude"                 #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net472\FirebirdSql.Data.FirebirdClient.dll" #>
<#
	NamespaceName = "FirebirdDataContext";

	IncludeDefaultSchema = false;
	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	LoadFirebirdMetadata(GetConnectionString("Firebird"));
	GenerateModel();
#>
