<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6" #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"               #>
<#@ output extension=".generated.cs"                                                         #>
<#@ include file="$(LinqToDBT4InformixTemplatesPath)LinqToDB.Informix.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                           once="true" #>
<#
	NamespaceName = "InformixDataContext";

	LoadInformixMetadata(GetConnectionString("Informix.DB2"));
	GenerateModel();
#>
