<#@ template language="C#" debug="True" hostSpecific="True"                       #>
<#@ output extension=".generated.cs"                                              #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.Informix.ttinclude" #>
<#@ include file="..\Shared.ttinclude"                                            #>
<#
	NamespaceName = "InformixDataContext";

	LoadInformixMetadata(GetConnectionString("Informix"));
	GenerateModel();
#>
