<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"  #>
<#@ output extension=".generated.cs"                                                          #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.Informix.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                            once="true" #>
<#
	NamespaceName = "InformixDataContext";

	LoadInformixMetadata(GetConnectionString("Informix"));
	GenerateModel();
#>
