<#@ template language="C#" debug="True" hostSpecific="True"                                             #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"                          #>
<#@ output extension=".generated.cs"                                                                    #>
<#@ include file="$(LinqToDBT4SqlServerTemplatesPath)LinqToDB.SqlServer.ttinclude"          once="true" #>
<#@ include file="$(LinqToDBT4SqlServerTemplatesPath)LinqToDB.SqlServer.SqlTypes.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                                      once="true" #>
<#@ include file="SqlServer.ttinclude"                                                      once="true" #>
<#
	NamespaceName        = "ModelDataContext";
	GenerateModelOnly    = true;
	GenerateSchemaAsType = true;

	LoadSqlServerMetadata(GetConnectionString("SqlServer.2019"));

	GenerateModel();
#>
