<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6" #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"               #>
<#@ output extension=".generated.cs"                                                         #>
<#@ include file="$(LinqToDBT4MySqlTemplatesPath)LinqToDB.MySql.ttinclude" once="true"       #>
<#@ include file="..\Shared.ttinclude"                                     once="true"       #>
<#
	NamespaceName = "MySqlDataContext";

	LoadMySqlMetadata(GetConnectionString("MySql.8.0"));
	GenerateModel();
#>
