<#@ template language="C#" debug="True" hostSpecific="True"  compilerOptions="/langversion:6" #>
<#@ output extension=".generated.cs"                                                          #>
<#@ assembly name="$(ArtifactsPath)\bin\Tests\Debug\net462\MySqlConnector.dll"                #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.MySql.ttinclude" once="true"    #>
<#@ include file="..\Shared.ttinclude"                                         once="true"    #>
<#
	NamespaceName = "MySqlConnectorDataContext";

	LoadMySqlMetadata(GetConnectionString("MySqlConnector.8.0"));
	GenerateModel();
#>
