<#@ template language="C#" debug="True" hostSpecific="True"                      #>
<#@ output extension=".generated.cs"                                             #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.MySql.ttinclude"   #>
<#@ include file="..\Shared.ttinclude"                                           #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net472\MySqlConnector.dll" #>
<#
	NamespaceName = "MySqlConnectorDataContext";

	LoadMySqlMetadata(GetConnectionString("MySqlConnector"));
	GenerateModel();
#>
