<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6" #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"               #>
<#@ output extension=".generated.cs"                                                         #>
<#@ include file="$(LinqToDBT4OracleTemplatesPath)LinqToDB.Oracle.ttinclude" once="true"     #>
<#@ include file="..\Shared.ttinclude"                                       once="true"     #>
<#
	NamespaceName     = "OracleDataContext";
	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	LoadOracleMetadata(GetConnectionString("Oracle.11.Managed"));
	GenerateModel();
#>
