<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"    #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"                         #>
<#@ output extension=".generated.cs"                                                            #>
<#@ include file="$(LinqToDBT4PostgreSQLTemplatesPath)LinqToDB.PostgreSQL.Tools.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                              once="true" #>
<#
	NamespaceName = "PostreSQLDataContext";
	GenerateConstructors = false;

	GetSchemaOptions.PreferProviderSpecificTypes = true;

	LoadPostgreSQLMetadata(GetConnectionString("PostgreSQL.16"));

	GetTable("testsamename").TypeName = "_testsamename";
	GetTable("testsamename").DataContextPropertyName = "_testsamename";

	GenerateDataTypes                            = true;

	GenerateModel();
#>
