<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"    #>
<#@ output extension=".generated.cs"                                                            #>
<#@ assembly name="$(ArtifactsPath)\bin\Tests\Debug\net462\Npgsql.dll"                          #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.PostgreSQL.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                              once="true" #>
<#
	NamespaceName = "PostreSQL9_5DataContext";
	GenerateConstructors = false;

	GetSchemaOptions.PreferProviderSpecificTypes = true;

	LoadPostgreSQLMetadata(GetConnectionString("PostgreSQL.9.5"));

	GetTable("testsamename").TypeName = "_testsamename";
	GetTable("testsamename").DataContextPropertyName = "_testsamename";

	GenerateDataTypes                            = true;

	GenerateModel();

//	GenerationEnvironment.Replace(
//		"#pragma warning disable 1573, 1591",
//		"#pragma warning disable 1573, 1591, 618");
#>
