<#@ template language="C#" debug="True" hostSpecific="True"                      #>
<#@ output extension=".generated.cs"                                             #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.SapHana.ttinclude" #>
<#@ include file="..\Shared.ttinclude"                                           #>
<#@ import namespace="System.Reflection"                                         #>
<#
	var assembly = Assembly.GetCallingAssembly();

	var manager = new AppDomainManager();
	var entryAssemblyfield = manager.GetType().GetField("m_entryAssembly", BindingFlags.Instance | BindingFlags.NonPublic);
	entryAssemblyfield.SetValue(manager, assembly);

	var domain = AppDomain.CurrentDomain;
	var domainManagerField = domain.GetType().GetField("_domainManager", BindingFlags.Instance | BindingFlags.NonPublic);
	domainManagerField.SetValue(domain, manager);



	NamespaceName = "SapHanaDataContext";

	//GetSchemaOptions.IncludedSchemas = new[] { "TEST" };

	// don't load procedures, that rise asserts or a lot of time to load
	GetSchemaOptions.LoadProcedure = p =>
		p.ProcedureName != "SERIES_GENERATE_TIME"
		&& p.ProcedureName != "SERIES_DISAGGREGATE_TIME"
		&& p.ProcedureName != "GET_FULL_SYSTEM_INFO_DUMP"
		&& p.ProcedureName != "GET_FULL_SYSTEM_INFO_DUMP_WITH_PARAMETERS"
		&& p.ProcedureName != "FULL_SYSTEM_INFO_DUMP_CREATE";
	GenerateProcedureErrors = false;


	LoadSapHanaMetadata(GetConnectionString("SapHana"));

	GenerateModel();
#>
