<#@ template language="C#" debug="True" hostSpecific="True"                      #>
<#@ output extension=".generated.cs"                                             #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.SapHana.ttinclude" #>
<#@ include file="..\Shared.ttinclude"                                           #>
<#@ import namespace="System.Reflection"                                         #>
<#
	NamespaceName = "SapHanaDataContext";

	//GetSchemaOptions.IncludedSchemas = new[] { "TEST" };

	LoadSapHanaMetadata(GetConnectionString("SapHana"));

	GenerateModel();
#>
