<#@ template language="C#" debug="True" hostSpecific="True"                     #>
<#@ output extension=".generated.cs"                                            #>

<#@ include file="..\Shared.ttinclude"                                         once="true" #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.SqlCe.ttinclude" once="true" #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\Humanizer.ttinclude"      once="true" #>
<#
	NamespaceName = "SqlCeDataContext";

	GenerateAssociationExtensions = true;

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	LoadSqlCeMetadata(solutionsPath + @"\Data\", "TestData.sdf");
	GenerateModel();
#>
