<#@ template language="C#" debug="True" hostSpecific="True"                                 #>
<#@ output extension=".generated.cs"                                                        #>
<#@ include file="..\Shared.ttinclude"                                                      #>
<#@ include file="SqlServer.ttinclude"                                                      #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.SqlServer.ttinclude"          #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\ObsoleteAttributes.ttinclude"          #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net472\Microsoft.SqlServer.Types.dll" #>
<#
	NamespaceName = "TestAzureSQL";
	LoadSqlServerMetadata(GetConnectionString("SqlAzure"));
	GenerateModel();
#>
