<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:latest" #>
<#@ output extension=".generated.cs"                                                              #>
<#@ include file="CLI.ttinclude"                                               once="true"        #>
<#
	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	var artifactsPath = Host.ResolveAssemblyReference("$(ArtifactsPath)");
	var targetDir     = Path.Combine(solutionsPath, "Tests", "Tests.T4", "Cli", "Default");
	var mode          = "default";

	var dbPath        = $@"{artifactsPath}\bin\Tests\Debug\net462\Database\TestData.ODBC.mdb";
	var accessOdbcCN  = $"Driver={{Microsoft Access Driver (*.mdb, *.accdb)}};Dbq={dbPath};ExtendedAnsiSQL=1";

	dbPath            = $@"{artifactsPath}\bin\Tests\Debug\net462\Database\TestData.mdb";
	var accessOleDbCN = $"Provider=Microsoft.ACE.OLEDB.12.0;Data Source={dbPath};Locale Identifier=1033;Persist Security Info=True";

	var sqliteCN      = "Data Source=" + Path.Combine(solutionsPath, "Data", "TestData.sqlite");
	var sqliteNwCN    = "Data Source=" + Path.Combine(solutionsPath, "Data", "Northwind.sqlite");
	var sqlceCN       = "Data Source=" + Path.Combine(solutionsPath, "Data", "TestData.sdf");

	var db2ProviderLocation = $@"{artifactsPath}\bin\Tests\Debug\net6.0\IBM.Data.Db2.dll";

	// to skip scaffold, just comment line for specific database/connection
	RunCliTool("Access"         , null                 , "Cli.Default.Access.Odbc"        , Path.Combine(targetDir, "AccessOdbc")         , mode, connectionString: accessOdbcCN);
	RunCliTool("Access"         , null                 , "Cli.Default.Access.OleDb"       , Path.Combine(targetDir, "AccessOleDb")        , mode, connectionString: accessOleDbCN);
	RunCliTool("Access"         , null                 , "Cli.Default.Access.Both"        , Path.Combine(targetDir, "AccessBoth")         , mode, connectionString: accessOleDbCN, additionalConnectionString: accessOdbcCN);
	RunCliTool("DB2"            , "DB2"                , "Cli.Default.DB2"                , Path.Combine(targetDir, "DB2")                , mode, providerLocation: db2ProviderLocation);
	RunCliTool("Firebird"       , "Firebird.5"          , "Cli.Default.Firebird"           , Path.Combine(targetDir, "Firebird")           , mode);
	RunCliTool("Informix"       , "Informix.DB2"       , "Cli.Default.Informix"           , Path.Combine(targetDir, "Informix")           , mode, providerLocation: db2ProviderLocation);
	RunCliTool("MySQL"          , "MariaDB.11"         , "Cli.Default.MariaDB"            , Path.Combine(targetDir, "MariaDB")            , mode);
	RunCliTool("MySQL"          , "MySqlConnector.8.0" , "Cli.Default.MySql"              , Path.Combine(targetDir, "MySql")              , mode);
	RunCliTool("Oracle"         , "Oracle.11.Managed"  , "Cli.Default.Oracle"             , Path.Combine(targetDir, "Oracle")             , mode);
	RunCliTool("PostgreSQL"     , "PostgreSQL.10"      , "Cli.Default.PostgreSQL"         , Path.Combine(targetDir, "PostgreSQL")         , mode);
	RunCliTool("SapHana"        , "SapHana.Native"     , "Cli.Default.SapHana"            , Path.Combine(targetDir, "SapHana")            , mode);
	RunCliTool("SqlCe"          , null                 , "Cli.Default.SqlCe"              , Path.Combine(targetDir, "SqlCe")              , mode, connectionString: sqlceCN, providerLocation: @"c:\Program Files\Microsoft SQL Server Compact Edition\v4.0\Private\System.Data.SqlServerCe.dll");
	RunCliTool("SQLite"         , null                 , "Cli.Default.SQLiteNorthwind"    , Path.Combine(targetDir, "SQLiteNorthwind")    , mode, connectionString: sqliteNwCN);
	RunCliTool("SQLite"         , null                 , "Cli.Default.SQLite"             , Path.Combine(targetDir, "SQLite")             , mode, connectionString: sqliteCN);
	RunCliTool("SQLServer"      , "SqlServer.Northwind", "Cli.Default.SqlServerNorthwind" , Path.Combine(targetDir, "SqlServerNorthwind") , mode);
	RunCliTool("SQLServer"      , "SqlServer.2017"     , "Cli.Default.SqlServer"          , Path.Combine(targetDir, "SqlServer")          , mode);
	RunCliTool("Sybase"         , "Sybase.Managed"     , "Cli.Default.Sybase"             , Path.Combine(targetDir, "Sybase")             , mode);
	RunCliTool("ClickHouseMySql", "ClickHouse.MySql"   , "Cli.Default.ClickHouse.MySql"   , Path.Combine(targetDir, "ClickHouse.MySql")   , mode);
	RunCliTool("ClickHouseHttp" , "ClickHouse.Client"  , "Cli.Default.ClickHouse.Client"  , Path.Combine(targetDir, "ClickHouse.Client")  , mode);
	RunCliTool("ClickHouseTcp"  , "ClickHouse.Octonica", "Cli.Default.ClickHouse.Octonica", Path.Combine(targetDir, "ClickHouse.Octonica"), mode);
#>
