<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:latest" #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"                    #>
<#@ output extension=".generated.cs"                                                              #>
<#@ include file="CLI.ttinclude"                                               once="true"        #>
<#
	var interceptorsPath = Path.Combine(solutionsPath, "Tests", "Tests.T4", "Cli", "scaffold.tt");
	var targetDir        = Path.Combine(solutionsPath, "Tests", "Tests.T4", "Cli", "Interceptors");
	var mode             = "default";


	var options = new string[]
	{
		"--context-modifier internal",
		$"--customize {interceptorsPath}"
	};

	var extraOptions = string.Join(" ", options);

	RunCliTool("SQLite"         , null                 , "Cli.Interceptors.SQLite"             , Path.Combine(targetDir, "SQLite")             , mode, connectionString: sqliteCN, extraOptions: extraOptions);
#>
