<#@ template language="C#" debug="True" hostSpecific="True"                       #>
<#@ output extension=".generated.cs"                                              #>
<#@ include file="..\..\Templates\LinqToDB.Access.ttinclude"                      #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"                 #>
<#@ assembly name="$(SolutionDir)\packages\linq2db.1.7.5\lib\net40\linq2db.dll"   #>
<#
	NamespaceName = "AccessDataContext";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");
	LoadAccessMetadata(solutionsPath + @"\Data\", "TestData.mdb");

	GenerateModel();
#>
