<#@ template language="C#" debug="True" hostSpecific="True"                       #>
<#@ output extension=".generated.cs"                                              #>
<#@ include file="..\..\Templates\LinqToDB.DB2.ttinclude"                         #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"                 #>
<#@ assembly name="$(SolutionDir)\Redist\IBM\IBM.Data.DB2.dll"                    #>
<#@ assembly name="$(SolutionDir)\packages\linq2db.1.7.5\lib\net40\linq2db.dll"   #>
<#
	NamespaceName = "DB2DataContext";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	//GetSchemaOptions.ExcludedSchemas = new[] { "TestUser", "SYSSTAT" };

	LoadDB2Metadata("DBHost", "50000", "TESTDATA", "Administrator", "TestPassword");

	GetProcedure("ADMINISTRATOR.PERSON_SELECTBYKEY").ResultTable = GetTable("ADMINISTRATOR.Person");

	//GetColumn("ADMINISTRATOR.Person", "PersonID").MemberName = "122";
	//GetFK    ("ADMINISTRATOR.Person", "ID1").MemberName = "122";

	GenerateModel();
#>
