<#@ template language="C#" debug="True" hostSpecific="True"                     #>
<#@ output extension=".generated.cs"                                            #>
<#@ include file="..\..\Templates\LinqToDB.Sybase.ttinclude"                    #>
<#@ include file="..\..\Templates\PluralizationService.ttinclude"               #>
<#@ assembly name="$(SolutionDir)\Redist\Sybase\Sybase.AdoNet2.AseClient.dll"   #>
<#@ assembly name="$(SolutionDir)\packages\linq2db.1.7.5\lib\net40\linq2db.dll" #>
<#
	NamespaceName = "SybaseDataContext";

	GenerateSybaseSystemTables = true;

	LoadSybaseMetadata("DBHost", "5000", "TestData", "sa", "TestPassword");
	GenerateModel();
#>
