<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6" #>
<#@ output extension=".generated.cs"                                                         #>
<#@ import namespace="System.Reflection"                                                     #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.SapHana.ttinclude" once="true" #>
<#@ include file="..\Shared.ttinclude"                                           once="true" #>
<#
	NamespaceName   = "Default.SapHana";
	DataContextName = "TestDataDB";

	LoadSapHanaMetadata(GetConnectionString("SapHana.Native"));
	GenerateModel();
#>
