<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6" #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"               #>
<#@ output extension=".generated.cs"                                                         #>
<#@ include file="$(LinqToDBT4SqlCeTemplatesPath)LinqToDB.SqlCe.ttinclude"       once="true" #>
<#@ include file="$(LinqToDBT4TemplatesPath)Humanizer.ttinclude"                 once="true" #>
<#@ include file="..\Shared.ttinclude"                                           once="true" #>
<#
	NamespaceName   = "Default.SqlCe";
	DataContextName = "TestDataDB";

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");

	LoadSqlCeMetadata(solutionsPath + @"\Data\", "TestData.sdf");
	GenerateModel();
#>
