<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"   #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"                 #>
<#@ output extension=".generated.cs"                                                           #>
<#@ include file="$(LinqToDBT4SQLiteTemplatesPath)LinqToDB.SQLite.ttinclude"       once="true" #>
<#@ include file="..\Shared.ttinclude"                                             once="true" #>
<#
	NamespaceName   = "Default.SQLiteNorthwind";
	DataContextName = "TestDataDB";

	var solutionsPath = Host.ResolveAssemblyReference("$(SolutionDir)");

	LoadSQLiteMetadata(solutionsPath + @"\Data\", "Northwind.sqlite");
	GenerateModel();
#>
