<#@ template language="C#" debug="True" hostSpecific="True" compilerOptions="/langversion:6"   #>
<#@ CleanupBehavior processor="T4VSHost" CleanupAfterProcessingtemplate="true"                 #>
<#@ output extension=".generated.cs"                                                           #>
<#@ assembly name="$(SolutionDir)Tests\Linq\bin\Debug\net472\Microsoft.SqlServer.Types.dll"    #>
<#@ include file="..\Shared.ttinclude"                                             once="true" #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.SqlServer.ttinclude" once="true" #>
<#
	NamespaceName   = "Default.SqlServerNorthwind";
	DataContextName = "TestDataDB";

	LoadSqlServerMetadata(GetConnectionString("SqlServer.Northwind"));
	GenerateModel();
#>
